* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Overpass", sans-serif;
  background-color: hsl(216, 12%, 8%);
  color: hsl(0, 0%, 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rating {
  width: 20.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 48rem) {
  .rating {
    width: 25.75rem;
  }
}
.rating__card {
  background: radial-gradient(hsl(215, 20%, 17%), hsl(216, 24%, 12%));
  padding: 1.781rem 1.5rem;
  border-radius: 0.938rem;
  width: 100%;
  height: 22.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 48rem) {
  .rating__card {
    padding: 2.5rem 2rem;
    height: auto;
    gap: 2rem;
  }
}
.rating__icon {
  background-color: hsla(213, 19%, 18%, 0.1);
  width: 2.5rem;
  height: 2.5rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating__icon img {
  width: 0.875rem;
  height: 0.875rem;
}
.rating__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.rating__title {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.188rem;
  letter-spacing: 0rem;
}
.rating__text {
  color: hsl(217, 12%, 63%);
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  letter-spacing: 0rem;
}
@media (min-width: 48rem) {
  .rating__text {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
  }
}
.rating__options {
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 0;
  margin: 0;
}
.rating__button {
  background-color: hsl(213, 19%, 18%);
  color: hsl(217, 12%, 63%);
  border: none;
  border-radius: 50%;
  width: 2.625rem;
  height: 2.625rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.117rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0;
  line-height: normal;
}
.rating__button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(213, 19%, 18%);
}
.rating__button--selected {
  background-color: hsl(25, 97%, 53%);
  color: hsl(213, 19%, 18%);
}
@media (min-width: 48rem) {
  .rating__button {
    width: 3.188rem;
    height: 3.188rem;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.0125rem;
  }
}
.rating__submit {
  background-color: hsl(25, 97%, 53%);
  color: hsl(216, 12%, 8%);
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  border: none;
  border-radius: 1.563rem;
  padding: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.117rem;
}
.rating__submit:hover {
  background-color: hsl(0, 0%, 100%);
}
.thankyou {
  width: 20.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
@media (min-width: 48rem) {
  .thankyou {
    width: 25.75rem;
  }
}
.thankyou__card {
  background: radial-gradient(hsl(215, 20%, 17%), hsl(216, 24%, 12%));
  padding: 1.781rem 1.5rem;
  border-radius: 0.938rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}
@media (min-width: 48rem) {
  .thankyou__card {
    padding: 2.5rem 2rem;
    height: auto;
    gap: 2rem;
  }
}
.thankyou__image img {
  height: 6rem;
  width: 9rem;
}
.thankyou__result {
  margin: 0;
  padding: 0.313rem 0.75rem;
  display: block;
  border-radius: 1.563rem;
  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  letter-spacing: 0rem;
  text-align: center;
}
@media (min-width: 48rem) {
  .thankyou__result {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
  }
}
.thankyou #rating-result {
  margin: 0 0.063rem;
}
.thankyou__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.thankyou__title {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 1.875rem;
  letter-spacing: 0rem;
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
}
@media (min-width: 48rem) {
  .thankyou__title {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.188rem;
    letter-spacing: 0rem;
  }
}
.thankyou__text {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  letter-spacing: 0rem;
  color: hsl(217, 12%, 63%);
}
@media (min-width: 48rem) {
  .thankyou__text {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-0.313rem);
  }
  75% {
    transform: translateX(0.313rem);
  }
}
.shake {
  animation: shake 0.3s ease-in-out;
}
